<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h1> Sign up 🚀 </h1>
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>
            <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" }%>
    <%= f.input :password,
                required: true,
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                required: true,
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :first_name,
               required: true,
               input_html: { autocomplete: "first_name" } %>
    <%= f.input :last_name,
               required: true,
               input_html: { autocomplete: "last_name" } %>
    <%= f.input :username,
               required: true,
               input_html: { autocomplete: "username" } %>
      <div class="form-actions">
        <%= f.button :submit, "Submit", class: "btn btn-ghost" %>
      </div>
        <% end %>
    </div>
  </div>
</div>

<%= render "devise/shared/links" %>
