<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h1> Log in 🎶 </h1>
      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <%= f.input :email,
                    required: false,
                    autofocuses: true,
                    input_html: {autocomplete: "email" } %>
        <%= f.input :password,
                    required: false,
                    input_html: { autocomplete: "email" } %>
        <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
      <div class="form-actions">
        <%= f.button :submit, "Submit", class: "btn btn-ghost" %>
      </div>
        <% end %>
    </div>
  </div>
</div>

<%= render "devise/shared/links" %>
