<div class="container">
  <div class="row justify-content-center">
    <div id="text-white" class="col-md-8">
      <h1> Edit the studio 🙂 </h1>
      <%= simple_form_for @studio do |f| %>
        <%= f.input :name, label: false, placeholder: "Name" %>
        <%= f.input :address, label:false, placeholder: "Address" %>
        <%= f.input :equipment, label:false, prompt: "Please select an audio equipment", as: :select, collection: Studio::CATEGORIES %>
        <%= f.input :rate, label:false, placeholder: "Rate (€)" %>
        <%= f.submit "Edit it", class: "btn btn-orange" %>
          <% end %>
        <%= link_to "Cancel", studios_path, class: "btn btn-secondary" %>
    </div>
  </div>
</div>

