<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h1> Edit the studio 🙂 </h1>
      <%= simple_form_for @studio do |f| %>
        <%= f.input :name %>
        <%= f.input :address %>
        <%= f.input :equipment, as: :select, collection: Studio::CATEGORIES %>
        <%= f.input :rate %>
        <%= f.submit "Edit it", class: "btn btn-orange" %>
          <% end %>
        <%= link_to "Cancel", studios_path, class: "btn btn-secondary" %>
    </div>
  </div>
</div>

