<div class="container p-3">
  <div class="container p-3 m-3">
    <div class="row p-3" class="index-main">
      <div class="col-lg-6 text-center">
        <% if policy(Studio).create? %>
          <%= link_to "Add your studio", new_studio_path, class: "btn btn-orange text-center" %>
        <% end %>
      </div
      <div class="col-lg-6 text-center">
        <%= form_tag studios_path, method: :get, class: "form-inline" do %>
          <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Find a studio"
          %>
          <%= submit_tag "Search", class: "btn btn-orange" %>
        <% end %>
      </div>
    </div>  
  </div>

  <h1 class="p-3 text-center " id="index-heading"> Here are the studios</h1>

  <div class="container">

    <div class="row justify-content-center">
      <% number = 1 %>
      <% @studios.each do |studio| %>

        <div class="card text-white bg-dark m-3" style="max-width: 18rem">
          <img class="card-img-top" src="https://source.unsplash.com/collection/948920/<%= number %>" alt="Card image cap"/>
            <div class="card-body">
              <p><%= link_to studio.name, studio_path(studio.id) %></p>
              <p class="card-text"><%= studio.address %></p>
              <p class="card-text"><%= studio.equipment %></p>
              <p class="card-text"><%=studio.rate %>€/hour</p>
            </div>
        </div>
        
        <% number += 1 %>
      <% end %>

    </div>

  </div>

</div>