
<div class="row p-3" class="index-main">
  <div class="col-lg-3">
    <p class="text-center"><%= link_to "Add your studio", new_studio_path, class: "btn btn-orange" %></p>
  </div>
  <div class="col-lg-3">
    <%= simple_form_for :search, url: studios_path, method: "GET", html: { class: 'form-inline' } do |f| %>
      <%= f.input :name, input_html: {value: ""} %>   
      <%= f.submit "Search", class: "btn-search" %>
    <% end %>
  </div>
  <div class="col-lg-6">
    <div class="equipment">
      <p><%= link_to "Digital Audio Workstations", daw_studios_path %></p>
      <p><%= link_to "Audio interface",  audio_interface_studios_path %></p>
      <p><%= link_to "Monitor",  monitor_studios_path %></p>
      <p><%= link_to "Microphones",  micro_studios_path %></p>
    </div>
  </div>
</div>

<div class="container p-3">

  <h1 class="p-3"> Here are the studios</h1>
  
  <div class="container">

    <div class="row">
      <% @studios.each do |studio| %>
        <div class="col-12 col-md-6 col-lg-3">
          <div class="card-body card text-white bg-dark mb-3 mt-3" style="max-width: 18rem">
            <div>
              <h3><%= link_to studio.name, studio_path(studio.id) %></h3>
              <p><%= studio.address %></p>
              <p><%= studio.equipment %></p>
              <p><%= studio.rate %>€/hour</p>
            </div>
          </div>
        </div>
      <% end %>
    </div>

  </div>

</div>
