
<div class="row p-3" class="index-main">
  <div class="col-lg-6">
    <div class="text-center">
      <% if policy(Studio).create? %>
        <%= link_to "Add your studio", new_studio_path, class: "btn btn-orange text-center" %>
      <% end %>
    </div>
  </div>
  
  <div class="col-lg-6">
    <div class="text-center">
      <%= form_tag studios_path, method: :get, class: "form-inline" do %>
        <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Find a studio"
        %>
        <%= submit_tag "Search", class: "btn btn-orange" %>
      <% end %>
    </div>
  </div>
</div>

<div class="container p-3">

  <h1 class="p-3"> Here are the studios</h1>

  <div class="container">

    <div class="row">
      <% @studios.each do |studio| %>
        <div class="col-12 col-md-6 col-lg-3">
          <div class="card-body card text-white bg-dark mb-3 mt-3" style="max-width: 18rem">
            <div>
              <h3><%= link_to studio.name, studio_path(studio.id) %></h3>
              <p><%= studio.address %></p>
              <p><%= studio.equipment %></p>
              <p><%= studio.rate %>€/hour</p>
            </div>
          </div>
        </div>
      <% end %>
    </div>

  </div>

</div>
